html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

 /*         TYPOGRAPHIE
 
     font-family: 'Lora', serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Playfair Display', serif; */

.gradient {
  background: rgb(230,235,224);
  background: linear-gradient(0deg, rgba(230,235,224,1) 0%, rgba(155,193,188,1) 100%);
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  
}


/* ----HEADINGS ---- */
h1 {
  font-family: Playfair Display;
font-style: normal;
font-weight: 1;
font-size: 96px;
color: #ED6A5A;
}

h2 {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 72px;
}

h3 {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 60px;
}

h4 {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 50px;
}

h5{
  font-family: Lora;
font-style: normal;
font-weight: 1;
font-size: 36px;
line-height: 24px;
}

h6{
  font-family: Lora;
font-style: normal;
font-weight: 1;
font-size: 20px;
}

/* ACCUEIL */

.texte-hero {
font-size: 30px;
font-weight: lighter;
}


/* RELISATIONS */



.card-title {
  line-height: 1;
  font-weight: 100;
}

.card-text {
  color: gray;
  margin-top: 1rem;
  font-family: Lora;
}

/* PRESENTATION */

.container-paragraphe {
  font-family: Lora;
  margin-bottom: 5rem;
}


/* ANIMATION MENU HOVER */

.nav-item{
  background-color: var(--background-color);
  color: #222;
  position: relative;
  z-index: 1;
  
  --accent-color: #ED6A5A;
}



.nav-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.nav-item:hover::before,
.nav-item:focus::before {
  transform: scaleX(1);
}

/* ANIMATION ON SCROLL ( sur TEXTE HERO) voir app.js */

.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}


/* ANIMATION par keyframes SUR SVG (Vague sur le bas de page, morph-wave) */

svg path {
    animation:pathAnim 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim{
  0%{
    d: path("M0,128L48,117.3C96,107,192,85,288,80C384,75,480,85,576,112C672,139,768,181,864,181.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z")
  }

  100%{
    d: path("M0,256L48,261.3C96,267,192,277,288,282.7C384,288,480,288,576,261.3C672,235,768,181,864,144C960,107,1056,85,1152,112C1248,139,1344,213,1392,250.7L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z")
  }
}

/* ANIMATION PAR KEYFRAMES (La main) */

.lamain{
  position: absolute;
  top: 750px;
  rotate: 90deg;
  width: 200px;
  height: 200px;
  left: 0px;
  animation: fly 2s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@keyframes fly{
  from{ transform: translateY(0px)}
  to{ transform: translateY(-2200px);}
}


/* Call to action  */

.btn-lg {
  background-color: #ED6A5A;
  border-color: #ED6A5A;
}
